/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	font-family:'Open Sans', sans-serif;
	color: #DEDEDE;
	font-size: 0.8em;
	background-color: gray;
}

.form{
	border: #aaa 1px solid;
	background: #DDDDDD;
	border-radius: 4px;
}

.search{	
	border: #aaa 1px solid;
	background: #DDDDDD;
	border-radius: 3px;

}

.searchtext{
	border: #aaa 1px solid;
	background: #DDDDDD;
	border-radius: 3px;

}

.submit{

}

.image{
	
}

img{
	border: 5px gray solid;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #444;
	float: right;
	margin: 0 0 10px 10px;
}