/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	background-image: url('bokehbg.jpg');
	font-family:'Helvetica', sans-serif;
	color: #DEDEDE;
	font-size: 0.8em;
	font-weight: bold;
}

#search{
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.search{	
	border: #aaa 1px solid;
	background: #DDDDDD;
	border-radius: 3px;

}

.searchtext{
	border: #aaa 1px solid;
	background: #DDDDDD;
	border-radius: 3px;

}

.submit{

}

.instagram{
	background-color: #F6F6F6;
	color: #2b2b2b;
	border: 5px #F6F6F6 solid;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #111111;
	float: left;
	margin: 10px 10px 10px 10px;
	height: auto;
	text-align: center;
	font-weight: semibold;
	
}
.tweet{
	background-color: #2b2b2b;
	border: 3px #2b2b2b solid;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #111111;
	margin: 10px 10px 10px 10px;
	float:left;
	
}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}