<!DOCTYPE html>
<html>
  <head>
    <title>TagReadr</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <script type="text/javascript" src=""https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js""></script>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/token-input.css" />

  </head>
  <body>
  <div id="uppertab">
  	<form id="search" action="/home/view" method = "post">
  		Enter your tags here:
      <input id="searchtext" type="text" name="tags">
  		<input id="submit" type="submit" value ="Read em!">
          <script type="text/javascript">
          $(document).ready(function () {
          $("#searchtext").tokenInput();
          });
      </script> 

  	</form>
  </div>  

  <div id ="containerwrapper" >
 
  <div id="contentcontainer">     
  <%= yield %>  
  </div>  
  </div>

  </body>
</html>
